.bottom-container {
    position: fixed;
    bottom: 7px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    min-width: 350px;
    width: 5%;
    height: 55px;
    margin: 7px auto;
    border-radius: 2rem;
    z-index: 1000;
}

#home-group, 
#add-category-group,
#profile-group {
    display: flex;
    flex: 1;
    height: 60%;
}

#home-button,
#add-category-button,
#profile-button {
    color: rgb(175, 175, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;

    transition: 0.5s ease;
}

#home-button:hover,
#add-category-button:hover,
#profile-button:hover {
    color: rgb(146, 146, 146);
}


/* 4. Ensure the SVG/Icon itself doesn't shrink or block clicks */
#home-button svg, 
#add-category-button svg, 
#profile-button svg {
    width: 30px;
    height: auto;
    pointer-events: none; /* Prevents the icon from interrupting the click target */
}

.left-side-group {
    border: 3px;
    border-color: black;
    border-radius: 0.2rem;
}

.wrap-icon {
    background: none;
    border: none;
}