.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body .home-container {
  background: url('./backgroundmain.jpg') no-repeat 0px 0px / cover;

  min-height:100vh;
  margin: 0;
}

.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 30px; 
  z-index: 10;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}



.NavBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.NavBar li {
  cursor: pointer;
}



.NavBar li a {
    position: relative;
    right: 0px;
    bottom: 0px;
    font-weight: 500;
    padding: 10px 25px;
    text-decoration: none;
    color: white;

}

.NavBar li a.starthere {
    color: black;
    background-color: white;
    padding: 10px 5px;
    font-weight: 600;
}

.NavBar img.logo {
  height: 60px;
  width: auto;
  
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.NavBar.visible {
  
}


.NavBar.visible ul {
  margin-left: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.53);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2rem;
}

.NavBar.visible a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 25px;
}
.NavBar.visible li a.starthere {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2rem;
  transition-duration: 0.23s;
}

.NavBar.visible li {
  display: inline-block;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 2rem;
  transition-duration: 0.23s;
}

.NavBar.visible li:hover{
  background-color: rgba(84, 84, 84, 0.448);
  transition-duration: 0.23s;
}

.NavBar.visible .logo-container {
  margin-right: 30px;
  align-items: center;
  display: flex;
  /* Background */
  background-color: rgba(0, 0, 0, 0.53);
  padding: 5px 15px;
  padding-right: 5px;
  border-radius: 2rem;
}

.NavBar.visible img.logo {
  /* Logo Size */
  height: 50px; 
  width: auto;
  /* Transition */
  transition: opacity 0.4s ease, transform 0.4s ease; 
}

.logo-text {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding-left: 5px;
  margin-right: 20px;

  animation: fadeIn 0.4s ease;
}

.logo.hide {
  display: none;
}

.logo.show {
  display: block;
  opacity: 1;
}
.Intro {
  position: absolute;
  top: 20%;
  left: 50%;
  padding-bottom: 10px;
  transform: translateX(-50%);  
  width: 30%;
  border-radius: 0.2rem;
  color: white;
}

.Intro p.smallText{
  font-size: 20px;
  font-family: "playfair display", sans-serif;
  margin-bottom: 0;
}

.Intro p.prompt {
  font-size: 50px;
  font-family: "Open Sans", "light 300";
  margin-top: 5px;
  line-height: 60px;
}

#startbtn {
  color: black;
  background-color: white;
  padding: 20px 15px;
  font-weight: 550;
  font-size: 15px;
  border-radius: 0.2rem;
  border: 2px solid rgb(185, 185, 185);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

#startbtn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgb(34, 24, 12);
  transition: 0.5s;
  z-index: -1;
  
}

#startbtn:hover::before {
  width: 100%;  
}

#startbtn:hover {
  color: white;
  transition: 0.5s;
}

.bodysection {
  position: absolute;
  top: 165%;
  left: 2%;
  font-size: 20px;
  font-family: "Open Sans", "light 300";
  font-weight: 2px;
}

.App .test {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  margin-top: 100%;
}

.App .bodyobserver {
  position: absolute;
  top: 150vh;
  padding-bottom: 100%;
  
}

